.answers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  border-radius: 25px;
  background: #fa7590;
  box-shadow: inset 13px 13px 26px #d5637a,
  inset -13px -13px 26px #ff87a6;

  .answer {
    width: 40%;
    min-height: 100px;
    padding: 20px;
    margin: 20px;
    border-radius: 25px;
    background: #fa7590;
    box-shadow:  13px 13px 26px #d5637a,
    -13px -13px 26px #ff87a6;
    transition: opacity 1s, transform 1s;

    div {
      font-size: 24px;
      line-height: 30px;
      text-align: center;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      background: none;

      @media screen and (max-width: 768px) {
        line-height: 25px;
        font-size: 16px;
      }
    }

    @media screen and (max-width: 768px) {
      min-width: 60%;
      padding: 10px;
      margin: 10px;
      margin-top: 20px;
      min-height: 50px;
    }
  }

  .showAnswers {
    opacity: 0.3;
  }

  .correctAnswer {
    opacity: 1 !important;
    transform: scale(1.1);

    div {
      color: #fff;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .3s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='white' stroke-width='2' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
      background-position: bottom;
      background-repeat: repeat-x;
      background-size: 20%;
      border-bottom: 0;
      padding-bottom: 1em;
      text-decoration: none;
      transition: background 1s;
    }
  }
}

span {
  display: block;
  text-align: center;
  margin-bottom: 1px;
}
